<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="navbar flex flex-wrap justify-between items-center w-full px-4 md:px-20 py-6 md:py-10">
        <div class="flex items-center">
            <img src="https://play-lh.googleusercontent.com/CyHUZUKP0_qx7IEHYQDoNKAdhoC9uzATzKMe2ZaMW1ixXEha3k1AuXEc4C4GfVyQz_8" alt="Khaatabook Logo" class="h-8 w-8 mr-2">
            <h3 class="text-lg md:text-xl">Khaatabook</h3>
        </div>
        <div class="absolute hidden top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 px-3 py-2 bg-red-500 rounded-md">
            <h3 class="text-red-200">
                some error
            </h3>
        </div>
        <% var loggedin = typeof loggedin!=='undefined' ? loggedin : true %> 
        <% if (loggedin){ %>
        <div class="links flex flex-col md:flex-row gap-2 md:gap-4 mt-4 md:mt-0">
            <a href="/hisaab/create" class="block text-center bg-blue-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-600 transition-all">
                Create new hisaab
            </a>
            <a href="/" class="block text-center">Home</a>
            <a class="text-red-500 block text-center" href="/logout">Logout</a>
        </div>
        <% } %>
    </div>
</body>

</html>
